<div id="content_fields">
  <div class="row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="row">
    <%= f.label_with_tooltip :slug, { tooltip: t('.slug_tooltip', base: no_cms_news.items_path)} %>
    <%= f.text_field :slug %>
  </div>

  <div class="row">
    <%= f.label_with_tooltip :published_at, { tooltip: t('.published_at_tooltip')} %>
    <%= f.datetime_picker :published_at %>
  </div>

  <div class="row">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="row">
    <%= f.label :category_ids %>
    <%= f.collection_select :category_ids, NoCms::News::Category.includes(:translations), :id, :title, {}, multiple: true %>
  </div>
</div>
